body {
  text-align: center;
  background-color: var(--background-color); /* CSS değişkeni kullanılıyor */
}

.container {
  background-color: rgb(215, 250, 238);
  margin-left: 40%;
  margin-top: 15%;
  width: 350px;
  height: 150px;
  border-radius: 25px;
  box-shadow: 5px 3px 15px rgba(209, 1, 1, 0.5);
}

.save-button {
  background-color: rgb(215, 250, 238);
  border-radius: 15px;
  box-shadow: 5px 3px 15px rgba(209, 1, 1, 0.5);
  color: #18c208;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
  margin: 2%;
  margin-left: 35%;
  width: 85px;
  height: 30px;
  font-size: medium;
}

.save-button:hover {
  color: #163c64;
}

/* Light mode için stil kuralları */
.light-mode {
  background-color: #faebd7; /* Aydınlık mod arka plan rengi */
  color: #000; /* Aydınlık mod metin rengi */
}

/* Dark mode için stil kuralları */
.dark-mode {
  background-color: #404040; /* Karanlık mod arka plan rengi */
  color: #fff; /* Karanlık mod metin rengi */
}

.navbar {
  font-weight: bold;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}



