body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #faebd7;
}

.container {
  background-color: rgb(215, 250, 238);
  margin-left: 40%;
  margin-top: 15%;
  width: 350px;
  height: 150px;
  border-radius: 25px;
  box-shadow: 5px 3px 15px rgba(209, 1, 1, 0.5);
}

.containerSaved {
  background-color: rgb(215, 250, 238);
  margin-left: 40%;
  margin-top: 15%;
  margin-bottom: 5%;
  width: 350px;
  height: 150px;
  border-radius: 25px;
  box-shadow: 5px 3px 15px rgba(209, 1, 1, 0.5);
}

.containerItem {
  background-color: rgb(215, 250, 238);
  margin-top: 25%;
  margin-bottom: 5%;
  width: 350px;
  height: 150px;
  border-radius: 25px;
  box-shadow: 5px 3px 15px rgba(209, 1, 1, 0.5);
}

.save-button {
  background-color: rgb(215, 250, 238);
  border-radius: 15px;
  box-shadow: 5px 3px 15px rgba(209, 1, 1, 0.5);
  color: #18c208;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
  margin: 2%;
  margin-left: 35%;
  width: 100px;
  height: 30px;
  font-size: medium;
}

.deleteButton {
  margin-left: 35%;
  margin-top: 15%;
}

.save-button:hover {
  color: #163c64;
}

.navlinkHome {
  margin-right: 15%;
  font-weight: bold;
  margin-top: 15%;
  color: rgb(76, 150, 7);
  text-decoration: none;
  font-size: 30px;
}

.navlinkContact {
  font-weight: bold;
  margin-top: 15%;
  color: rgb(76, 150, 7);
  text-decoration: none;
  font-size: 30px;
}

.navlinkContact:hover {
  color: #720404;
}

.navlinkHome:hover {
  color: #720404;
}

.contactPage {
  margin-top: 15%;
}

.randomSuggestionsButton {
  height: 50px;
  border-radius: 15px;
  box-shadow: 5px 3px 15px rgba(209, 1, 1, 0.5) ;
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  text-align: center;
}



