.title{
    text-align: center;
}

.main-content{
    text-align: center;
    margin-top: 5%;
}

.action{
    text-align: center;
    margin-top: 5%;
}

.backGround{
    background-color: rgb(89, 172, 245);
}