.background1 {
    z-index: -1;
}

.main {
    text-align: center;
    z-index: 1;
    margin-top: -30%;
    background-color: white;
    max-width: 500px;
    max-height: 500px;
    margin-left: 40%;
}
