.title{
    text-align: center;
}

.slider-card{
    text-align: center;
}

.button1{
    text-align: center;
    margin-left: 50%;
    margin-top: 3%;
}

.back{
    background-color: rgb(19, 72, 119);
}

