#root {
  background-color: antiquewhite;
  margin: 0 auto;
  padding: 2rem;
}

.image {
  border: 2px solid red;
  border-radius: 25px;
  width: 750px; 
  height: 750px; 
}

.imageMain { 
  display: inline-block;  
  margin: 5%; 
}





