#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.image {
  width: 750px;
  display: inline;
  height: 750px;
  margin: 5%;
  border: 2px solid red;
  border-radius: 25px;
}

.h2Id {
  margin-left: 5%
}

