body {
    text-align: center;
    background-color: rgb(145, 178, 207);
}

.main {
    margin-top: 15%;   
    background-color: white;
    max-width: 750px;    
    margin-left: 35%;
}

.container {
    width: 350px;
    height: 350px;
}

.delete {
    
}