body {
    background-color: aliceblue;
}

.title {
    text-align: center;
    margin-top: 150px;
}

.options {
    text-align: center;
    margin-top: 5%;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.yumurta,
.menemen,
.meyveSalatası,
.gununCorbasi,
.cay,
.portakalSuyu,
.mercimekCorbası,
.biftek {
    width: 45%; /* Tablo genişliği */
    background-color: rgb(4, 156, 156);
    height: 250px;
    margin-top: 50px;
    /* Diğer stillendirmeleri ekleyin */
    text-align: center;
}

.yumurta img,
.menemen img,
.meyveSalatası img,
.gununCorbasi img,
.cay img,
.portakalSuyu img,
.mercimekCorbası img,
.biftek img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}
