.conatinersMain {
  width: auto;
  height: 350px;
  background-color: white;
  border: 1px solid #000000;
}

.conatinersMain:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.conatinersMainTop {
  width: 100%;
  height: 25px;
  display: inline-block;
  background-color: #cc8181;
}

.conatinersMainLogo {
  display: inline-block;
  width: 15px;
}

.conatinersMainName {
  display: inline-block;
  width: 15px;
}

.conatinersMainTag {
  display: inline-block;
  width: 15px;
}

.conatinersMainTime {
  display: inline-block;
  width: 15px;
}

.conatinersMainMore {
  display: inline-block;
  width: 15px;
}

.conatinersMainMiddle {
  width: 100%;
  height: 200px;
  display: inline-block;
  background-color: #cc8181;
}

.conatinersMainBottom {
  width: 100%;
  height: 125px;
  display: inline-block;
  background-color: #cc8181;
}
