.favoritesPage {
    margin-top: -2%;
    height: 100%;
    border: 1px solid rgb(212, 210, 210);
}

.favoritesPageTop {
    display: flex;
}

.favoritesPageTop:hover {
    cursor: pointer;
}

.favoritesPageTopH {
    margin-left: 2%;
}

.favoritesPageTopNick {
    margin-left: -18%;
    margin-top: 8%;
}

.favoritesPageTopButton {
    margin-left: 60%;
    margin-top: 1%;
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
}

.favoritesPageTopButton:hover {
    cursor: pointer;
}

.favoritesPageTopButtonImg {
    width: 25px;
    height: 25px;
}