/* MAİN ACTİVE PAGE */

.mainShowActivePage {
  margin-left: 25%;
  margin-right: 45%;
  height: 100%;
  width: 600px;
  max-width: 600px;
  display: inline-block;
  /* position: fixed; */
  position: absolute;
  /* margin-top: -41%; */
}

.headerMainPage {
  display: grid;
  grid-template-columns: 250px 250px 95px;
  grid-gap: 2px;
}

.chapterOneMainPage {
  width: 250px;
  height: 60px;
}

.chapterOneMainPageButton {
  width: 100%;
  height: 100%;
  background-color: white;
}

.chapterOneMainPageButton:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.chapterTwoMainPage {
  width: 250px;
}

.chapterTwoMainPageButton {
  width: 100%;
  height: 100%;
  background-color: white;
}

.chapterTwoMainPageButton:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.chapterThreeMainPage {
  width: 95px;
  background-color: white;
  border-style: solid;
  height: 53px;
}

.chapterThreeMainPageButton {
  border: none;
  background-color: transparent;
  width: 40px;
  height: 35px;
  margin-left: 28%;
  margin-top: 12%;
  border-radius: 50%;
}

.chapterThreeMainPageButtonInButtonImg {
  width: 23px;
  height: auto;
  text-align: center;
  background-color: white;
}

.chapterThreeMainPageButton:hover {
  background-color: #f8efef;
  cursor: pointer;
}

.chapterThreeMainPageButtonInButton {
  width: 35px;
  height: 35px;
  margin-left: 35%;
}

.mainSendSection {
  width: 602px;
  height: 130px;
  background-color: white;
  border: 1px solid #000000;
}

.mainSendSectionImgButton {
  margin-top: 2%;
  border: 0cap;
  background-color: white;
}

.mainSendSectionImgButton:hover {
  cursor: pointer;
}

.mainSendSectionImgButtonIn {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.mainSendSectionSendButtonIn {
  border-radius: 15px 15px 15px 15px;
  background-color: #c5e0ec;
  margin-left: 75%;
  margin-top: 3%;
  width: 110px;
  height: 40px;
}

.mainSendSectionSendButtonIn:hover {
  cursor: pointer;
  background-color: #7bafc5;
}

.newFlowMainPageIn {
  width: 600px;
  height: 50px;
  background-color: white;
}

.newFlowMainPageIn:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

/* CONTAİNERS MAİN */

.containersMainPageIn {
  width: 600px;
  height: auto;
}

/* SearchSections CSS */

.searchSection {
  /* margin-top: -160%; */
  margin-left: 75%;
  /* background-color: #7bafc5; */
  width: 200px;
  height: 150px;
  position: fixed;
  /* position: absolute; */
}

.searchSection div {
  display: inline-block;
  vertical-align: middle;
}

.searchSectionSearchButtonImg {
  display: inline-block;
  vertical-align: middle;
  margin-top: -20%;
  height: 40px;
  border-radius: 15px 0 0 15px;
}

.searchSectionInput {
  width: 150px;
  height: 32px;
  vertical-align: middle;
  margin-top: -2%;
  border-radius: 0 15px 15px 0;
}

.searchSectionActive {
  margin-right: 50%;
}


