/* MAİN ACTİVE PAGE */

.mainShowActivePage {
  margin-left: 25%;
  margin-right: 45%;
  height: 100%;
  width: 600px;
  max-width: 600px;
  display: inline-block;
  position: absolute;
}

.headerMainPage {
  display: flex;
  margin-top: -2%;
  height: 60px;
}

.chapterOneMainPageButton {
  width: 50%;
  background-color: white;
  border: 1px solid grey;
  border-top: none;
}

.chapterOneMainPageButton:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.chapterTwoMainPageButton {
  width: 50%;
  background-color: white;
  border: 1px solid grey;
  border-top: none;
}

.chapterTwoMainPageButton:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.mainSendSection {
  width: 602px;
  height: 130px;
  background-color: white;
  border: 1px solid #000000;
}

.mainSendSectionImgButton {
  margin-top: 2%;
  border: 0cap;
  background-color: white;
  display: flex;
}

.mainSendSectionImgButton:hover {
  cursor: pointer;
}

.mainSendSectionInputAreaIn {
  display: flex;
  width: 450px;
  max-height: 100px;
  margin-left: 15%;
  margin-top: -5%;
  border: none;
  outline: none; /* outline'ı devre dışı bırakır */
  box-shadow: none; /* box-shadow'u devre dışı bırakır */
}

.mainSendSectionInputAreaIn:hover {
  border-color: white;
  outline: none; /* hover durumunda outline'ı devre dışı bırakır */
  box-shadow: none; /* hover durumunda box-shadow'u devre dışı bırakır */
}

.mainSendSectionInputAreaIn:focus {
  outline: none; /* odak durumunda outline'ı devre dışı bırakır */
  box-shadow: none; /* odak durumunda box-shadow'u devre dışı bırakır */
}

.mainSendSectionImgButtonIn {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.mainSendSectionSendButtonIn {
  border-radius: 15px 15px 15px 15px;
  background-color: #c5e0ec;
  margin-left: 75%;
  margin-top: 3%;
  width: 110px;
  height: 40px;
}

.mainSendSectionSendButtonIn:hover {
  cursor: pointer;
  background-color: #7bafc5;
}

.newFlowMainPageIn {
  width: 600px;
  height: 50px;
  background-color: white;
}

.newFlowMainPageIn:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

/* CONTAİNERS MAİN */

.containersMainPageIn {
  width: 600px;
  height: auto;
}
