         /* SİDEBAR */
      
.sideBar {
    margin-top: 5%;
    margin-left: 8%;
    width: 200px;
    position: fixed
}

.sideBarHomePage {
    margin: 2%;
}

.sideBarHomePage:hover::after{
    content: "Anasayfa";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.sideBarSearchButtonPage{
    margin: 2%;
}

.sideBarSearchButtonPage:hover::after{
    content: "Keşfet";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.sideBarNotificationPage{
    margin: 2%;
}

.sideBarNotificationPage:hover::after{
    content: "Bildirimler";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.sideBarMessagesPage{
    margin: 2%;
}

.sideBarMessagesPage:hover::after{
    content: "Mesajlar";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.sideBarListsPage{
    margin: 2%;
}

.sideBarListsPage:hover::after{
    content: "Listeler";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.sideBarFavoritesPage{
    margin: 2%;
}

.sideBarFavoritesPage:hover::after{
    content: "Yer İşaretleri";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.sideBarGroupsPage{
    margin: 2%;
}

.sideBarGroupsPage:hover::after{
    content: "Topluluklar";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
    margin-left: 3px;
}

.sideBarProfilesPage{
    margin: 2%;
}

.sideBarProfilesPage:hover::after{
    content: "Profil";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.sideBarMorePage{
    margin: 2%;
}

.sideBarMorePage:hover::after{
    content: "Daha fazla";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.sideBarSendPage{
    margin: 1%;
    width: 60px;
    height: 60px;
}

.sideBarSendPage:hover::after{
    content: "Gönder";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
}

.sideBarSendPageHref {
    width: 50px;
    height: 50px;
}


                   /* MAİN ACTİVE PAGE */


.mainShowActivePage {
    margin-left: 25%;
    margin-right: 45%;
    height: 100%;
    width: 615px;
    background-color: antiquewhite;
}       

.headerMainPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Her sütunun eşit genişliği */
    grid-gap: 2px; 
}

.chapterOneMainPage {   
    width: 200px;
    height: 60px;
}

.chapterOneMainPageButton {
    width: 100%;
    height: 100%;
    background-color: white;
}

.chapterOneMainPageButton:hover {
    background-color: rgb(247, 242, 242);
    cursor: pointer;
}

.chapterTwoMainPage {
    width: 200px;
}

.chapterTwoMainPageButton {
    width: 100%;
    height: 100%;
    background-color: white;
}

.chapterTwoMainPageButton:hover {
    background-color: rgb(247, 242, 242);
    cursor: pointer;
}

.chapterThreeMainPage {
    width: 200px;
}

.chapterThreeMainPageButton {
    width: 100%;
    height: 100%;
    background-color: white;
}

.chapterThreeMainPageButton:hover {
    background-color: rgb(247, 242, 242);
    cursor: pointer;
}

