.messageMain {
    margin-top: -1.5%;
    height: 100%;
    width: 400px;
    border: 1px solid rgb(212, 210, 210);
    margin-left: -5%;
}

.messagesHome {
    width: 280px;
    height: 65px;
    display: inline-block;
    position: fixed;
    margin-top: 98%;
    margin-left: 74%;
    padding: 5px;
    padding-left: 15px;
    border-radius: 15px 15px 0 0;
    border: 1px solid rgb(212, 210, 210);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.messagesHome:hover {
    cursor: pointer;
}

.MessagesHomeMain {
    width: 400px;
    height: 100%;
    border: 1px solid rgb(212, 210, 210);
}

.MessagesHomeMainTop {
    display: flex;
}

.MessagesHomeMainTopButtonSetting {
    background-color: white;
    border: none;
    margin-left: 60%;
    margin-top: 5%;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.MessagesHomeMainTopImgSetting {
    width: 25px;
    height: 25px;
}

.MessagesHomeMainTopButtonMessage {
    background-color: white;
    border: none;
    margin-left: 1%;
    margin-top: 4%;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 50%;
}

.MessagesHomeMainTopButtonMessage:hover {
    cursor: pointer;
    filter: brightness(0.95);
}

.MessagesHomeMainTopButtonSetting:hover {
    cursor: pointer;
    filter: brightness(0.95);
}

.MessagesHomeMainTopImgMessage:hover {
    cursor: pointer;
}

.MessagesHomeMainSearchTextArea {
    margin-left: 4%;
    padding: 3%;
    width: 275px;
    height: 45px;
    border-radius: 15px 15px 15px 15px;
}

.messagesContainers {
    margin-top: 5%;
    padding: 1%;
    width: 391px;
    height: 100px;
}

.messagesContainers:hover {
  cursor: pointer;
  background-color: rgb(228, 227, 227);
}

.messagesContainersTop {
    display: flex;
}

.messagesContainersTopImg {
    width: 40px;
    height: 40px;
}

.messagesContainersTopPerson {
    margin-top: -1px;
    width: 95px;
    height: 15px;
}

.messagesContainersTopNick {
    width: 80px;
    margin-top: -1px;
}

.messagesContainersTopButton {
    margin-left:  20%;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
}

.messagesContainersTopButton:hover {
    cursor: pointer;
    background-color:  #bce6f5;
}

.messagesContainersTopButtonImg {
    width: 15px;
    height: 15px;
}

.messagesContainersContent {

}