.NotificationPageMain {
  width: 600px;
  height: 100%;
  border: 1px solid grey;
}

.NotificationPageTop {
  display: flex;
}

.NotificationPageTop:hover {
  cursor: pointer;
}

.NotificationPageTopButton {
  width: 35px;
  height: 35px;
  margin-left: 73%;
  background-color: white;
  border: none;
  margin-top: 2%;
  border-radius: 50%;
}

.NotificationPageTopButton:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.NotificationPageTopImg {
  width: 20px;
  height: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NotificationPageMiddle {
  display: flex;
}

.NotificationPageMiddleChapterOne {
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: white;
}

.NotificationPageMiddleChapterOne:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.NotificationPageMiddleChapterTwo {
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: white;
}

          /* burada bir sorun var çözemedim */
.NotificationPageMiddleChapterTwo:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.NotificationPageMiddleChapterThree {
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: white;
}

.NotificationPageMiddleChapterThree:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.NotificationPageContainersMain {
  width: 600px;
  max-height: 150;
  min-height: 75px;
  background-color: white;
}

.NotificationPageContainersMain:hover {
  cursor: pointer;
  filter: brightness(0.95);
}
