.NotificationPageMain {
    width: 580px;
}

.NotificationPageTopImg {
    width: 20px;
    height: 20px;
}

.NotificationPageTopButton {
    background-color: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 45%;
}

.NotificationPageTopButton:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.NotificationPageTopHeader {
    display: inline-block;
}

.NotificationPageMiddle {
    display: flex;
    height: 60px;
}

.NotificationPageMiddleChapterOne {
    width: 25%;
    background-color: #f2f2f2;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.NotificationPageMiddleChapterTwo {
    width: 35%;
    background-color: aliceblue;
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.NotificationPageMiddleChapterThree {
    width: 35%;
    background-color: antiquewhite;
    display: flex; 
    align-items: center;
    justify-content: center; 
}
