.NotificationPageMain {
  width: 600px;
  height: 100%;
  border: 1px solid grey;
}

.NotificationPageTop {
  display: flex;
}

.NotificationPageTop:hover {
  cursor: pointer;
}

.NotificationPageTopButton {
  width: 35px;
  height: 35px;
  margin-left: 73%;
  background-color: white;
  border: none;
  margin-top: 2%;
  border-radius: 50%;
}

.NotificationPageTopButton:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.NotificationPageTopImg {
  width: 20px;
  height: 20px;
}

.NotificationPageMiddle {
  display: flex;
  border-bottom:  1px solid grey;
}

.NotificationPageMiddleChapterOne {
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: white;
}

.NotificationPageMiddleChapterOne:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.NotificationPageMiddleChapterTwo {
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: white;
}

          /* burada bir sorun var çözemedim */
.NotificationPageMiddleChapterTwo:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.NotificationPageMiddleChapterThree {
  width: 200px;
  height: 60px;
  text-align: center;
  background-color: white;
}

.NotificationPageMiddleChapterThree:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.NotificationPageContainersMain {
  width: 600px;
  max-height: 150;
  min-height: 75px;
  background-color: white;
  border-bottom:  1px solid grey;
}

.NotificationPageContainersMainButton {
  width: 600px;
  max-height: 150;
  min-height: 100px;
  background-color: white;
  border: none;
}

.NotificationPageContainersMain:hover {
  cursor: pointer;
  filter: brightness(0.95);
}

.NotificationPageContainersMainButtonPhotos {
  margin-top: -6%;
  margin-left: -80%;
}

.NotificationPageContainersMainButtonLike {
  width: 25px;
  height: 25px;
}

.NotificationPageContainersMainButtonProfilePhoto {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.NotificationPageContainersMainButtonInButton {
  background-color: white;
  border: none;
}
