.profilesPageMain {
  display: flex;
  width: 650px;
  margin-left: -10%;
  flex-direction: column;
}

.profilesPageTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profilesPageTopBackButton {
  background-color: rgb(250, 247, 247);
  margin-top: -1%;
  width: 650px;
  position: fixed;
  display: flex;
  align-items: center;
}

.profilesPageTopBackButton:hover {
    cursor: pointer;
}

.profilesPageTopBackButtonAction {
  background-color: white;
  border: none;
}

.profilesPageTopBackButtonAction:hover {
  cursor: pointer;
}

.profilesPageTopBackButtonIn {
  width: 20px;
  height: 20px;
  display: flex;
  background-color: white;
}

.profilesPageTopBackButtonText {
  margin-left: 10px;
}

.profilesPageTopProfilesImg {
}

.profilesPageTopProfilesImgIn {
    width: 650px;
    height: 250px;
}
