.profilesPageMain {
    display: flex;
    width: 650px;
    margin-left: -10%;
    flex-direction: column; 
}

.profilesPageTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profilesPageTopBackButton {
    position: fixed;
    display: flex;
    align-items: center; 
}

.profilesPageTopBackButtonIn {
    width: 25px;
    height: 25px;
    display: flex;
}

.profilesPageTopBackButtonText {
    margin-left: 10px; 
}

.profilesPageTopProfilesImg {
    margin-top: 10%;
}
