/* SearchSections CSS */

.searchSection {
  margin-left: 75%;
  width: 200px;
  height: 150px;
  position: fixed;
}

.searchSection div {
  display: inline-block;
  vertical-align: middle;
}

.searchSectionSearchButtonImg {
  display: inline-block;
  vertical-align: middle;
  margin-top: -20%;
  height: 40px;
  border-radius: 15px 0 0 15px;
}

.searchSectionInput {
  width: 150px;
  height: 32px;
  vertical-align: middle;
  margin-top: -2%;
  border-radius: 0 15px 15px 0;
}

                  /* SearchButtonSearchSections CSS */
 
.SearchButtonSearchSections {
    background-color: antiquewhite;
    width: 150px;
    height: 150px;
}                  