/* SearchSections CSS */

.searchSection {
  margin-left: 75%;
  width: 200px;
  height: 150px;
  position: fixed;
}

.searchSection div {
  display: inline-block;
  vertical-align: middle;
}

.searchSectionSearchButtonImg {
  display: inline-block;
  vertical-align: middle;
  margin-top: -20%;
  height: 40px;
  border-radius: 15px 0 0 15px;
}

.searchSectionInput {
  margin-top: 0%;
  width: 150px;
  height: 32px;
  vertical-align: middle;
  margin-top: -2%;
  border-radius: 0 15px 15px 0;
}

                  /* SearchButtonSearchSections CSS */
 
.searchButtonSearchSections {
    background-color: antiquewhite;
    /* width: 300px;
    height: 65px; */
    display: inline-block;
}      

.searchButtonSearchSectionsImg {
    width: 32px;
    height: 32px;
    display: inline-block;
}

.searchButtonSearchSectionInput {
  border-radius: 0 15px 15px 0; 
  width: 350px;
  height: 35px;
  display: inline-block;
  margin-left: 10%;
  margin-top: -30%;
}

