/* SearchSections CSS */

.searchSection {
  margin-left: 75%;
  width: 200px;
  height: 150px;
  position: fixed;
}

.searchSection div {
  display: inline-block;
  vertical-align: middle;
}

.searchSectionSearchButtonImg {
  display: inline-block;
  vertical-align: middle;
  margin-top: -20%;
  height: 40px;
  border-radius: 15px 0 0 15px;
}

.searchSectionInput {
  margin-top: 0%;
  width: 150px;
  height: 32px;
  vertical-align: middle;
  margin-top: -2%;
  border-radius: 0 15px 15px 0;
}

/* SearchButtonSearchSections CSS */

.searchButtonSearchSections {
  display: flex;
  align-items: center;
}

.searchButtonSearchSectionsImg {
  width: 32px;
  height: 32px;
}

.searchButtonSearchSectionInput {
  border-radius: 0 15px 15px 0;
  width: 380px;
  height: 35px;
}

.searchButtonSettings {
  width: 25px;
  height: 25px;
}

.searchButtonSettings:hover {
  cursor: pointer;
  background-color: #d1c7c7;
}

.searchButtonSettingsImg {
  margin-left: 50px;
  width: 20px;
  height: 20px;
}

.trendsContainerSearchButtonPage {
  border: 1px solid grey;
  width: 550px;
  height: 1150px;
  border-bottom: none;
  margin-top: 20%;
}
