.sendPageMain {
    position: relative;
    margin-top: -50%;
    width: 600px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.2), 4px 6px 20px 4px rgba(0, 0, 0, 0.19);
    z-index: 1001; 
}

.sendPageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.sendPageMainTop {
    width: 100%;
    height: 50px;
}

.sendPageMainInput {
    width: 100%;
    height: 175px;
}

.sendPageMainTopButton {
    margin-top: 1%;
    margin-left: 1%;
    background-color: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.sendPageMainTopButtonImg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.sendPageMainTopButton:hover {
    cursor: pointer;
    filter: brightness(0.95);
}
  

  
