           /* SİDEBAR */

.sideBar {
    margin-top: 5%;
    margin-left: 15%;
    width: 200px;
    position: fixed;
  }
  
  .sideBarHomePage {
    margin: 2%;
    margin-bottom: 5%;
  }
  
  .sideBarHomePage:hover::after {
    content: "Anasayfa";
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
  }
  
  .sideBarSearchButtonPage {
    margin: 2%;
    margin-bottom: 5%;
  }
  
  .sideBarSearchButtonPage:hover::after {
    content: "Keşfet";
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
  }
  
  .sideBarNotificationPage {
    margin: 2%;
    margin-bottom: 5%;
  }
  
  .sideBarNotificationPage:hover::after {
    content: "Bildirimler";
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
  }
  
  .sideBarMessagesPage {
    margin: 2%;
    margin-bottom: 5%;
  }
  
  .sideBarMessagesPage:hover::after {
    content: "Mesajlar";
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
  }
  
  .sideBarFavoritesPage {
    margin: 2%;
    margin-bottom: 5%;
  }
  
  .sideBarFavoritesPage:hover::after {
    content: "Yer İşaretleri";
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
  }
  
  .sideBarProfilesPage {
    margin: 2%;
    margin-bottom: 5%;
  }
  
  .sideBarProfilesPage:hover::after {
    content: "Profil";
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
  }
  
  .sideBarMorePage {
    margin: 2%;
    margin-bottom: 8%;
  }
  
  .sideBarMorePage:hover::after {
    content: "Daha fazla";
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
  }
  
  .sideBarSendPage {
    margin: 1%;
    width: 50px;
    height: 50px;
    background-color: white;
  }
  
  .sideBarSendPage:hover::after {
    content: "Gönder";
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: rgb(100, 100, 100);
    color: white;
  }
  
  .sideBarSendPageHref {
    width: 40px;
    height: 40px;
  }