.trendsMain {
    background-color: antiquewhite;
    position: fixed;
    margin-top: 5%;
    margin-left: 75%;
    width: 250px;
    height: 80%;
    border-radius: 15px 15px 15px 15px;
}

.trendsContainer {
    width: 230px;
    height: 100px; 
}

.trendsContainer:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.trendsContainerIn {
    margin: 5%;
}

.showMore {
    width: 230px;
    height: 49px;
}

.showMore:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
}

.showMoreIn {
    margin: 5%;
}
