.trendsMain {
    background-color: antiquewhite;
    /* position: absolute; */
    position: fixed;
    margin-top: 10%;
    margin-left: 75%;
    width: 230px;
    height: 1003px;
    border-radius: 15px 15px 15px 15px;
    /* padding: 1%; */
}

.trendsContainer {
    width: 500px;
    height: 100px;
    display: inline-block;
    
}

.trendsContainer:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

.trendsContainerIn {
    margin: 5%;
}

.showMore {
    width: 230px;
    height: 49px;
}

.showMore:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 15px 15px 15px 15px;
}

.showMoreIn {
    margin: 5%;
}

.trendsContainerSearchButtonPage {
    margin-top: 35%;
}