#root {
  background-color: antiquewhite;
  padding-left: 5%;
}

.main {
    width: 350px;
    padding: 2%;

}

.name-price h2 {
    display: inline-block;
    margin-left: 15%;
}

#buttonId {
  width: 45px;
  height: 45px;
}

.button {
  display: inline-block;
  margin-left: 200px;
}

.search-bar {
  display: inline-block;
  position: fixed;
  margin-top: 15px;

}
