.title{
    text-align: center;
    background-color: rgb(17, 103, 179);
}

.main-content{
    text-align: center;
    background-color: rgb(12, 124, 1);
    margin-top: 8%;
    
}

.body{
    background-color: rgb(11, 49, 82);
}