.main-title{
    text-align: center;
}

.image{
    text-align: center;
    margin-top: 5%;
}

.action{
    text-align: center;
    margin-top: 5%;
}

.color{
    background-color: rgb(2, 113, 209);
}