.title{
    text-align: center;
}

.main-content{
    text-align: center;
    margin-top: 5%;
}

.action{
    text-align: center;
    margin-top: 7%;
}

.backGround{
    background-color: rgb(143, 79, 0);
}