/* App.css */

/* Light mode için stil kuralları */
.light-mode {
  background-color: #faebd7; /* Aydınlık mod arka plan rengi */
  color: #000; /* Aydınlık mod metin rengi */
}

/* Dark mode için stil kuralları */
.dark-mode {
  background-color: #404040; /* Karanlık mod arka plan rengi */
  color: #fff; /* Karanlık mod metin rengi */
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
  background-color: #333;
  color: #fff;
}

main {
  flex: 1;
  padding: 20px;
}

footer {
  padding: 20px;
  background-color: #333;
  color: #fff;
}
