.header{
    text-align: center;
}

.main-content{
    text-align: center;
    margin-top: 4%;
    font-size: larger;
    font-style: italic;
}

.input{
    text-align: center;
}

.outpot{
    text-align: center;
}