#root {
  max-width: 300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: antiquewhite;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  justify-content: center;
}

.kare {
  width: 75px;
  height: 75px;
  margin: 1px;
}
